.wallet-balance {
    display: flex;
    justify-content: space-between;
}

.wallet-balance span {
    color: lightgray;
    position: relative;
    margin-top: 13px;
    font-weight: 900;
    color:rgba(89, 205, 153, 0.682);


}