* {
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0px 0px;
  line-height: 1.4;
}

.faqs-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  /* padding: 5px 5px; */

}

.faqs-container img {
  height: 300px;
  width: 500px;
  position: relative;
  margin-top: 100px;
}

.faqs {
  width: 700px;
  display: block;
  height: auto;

}

.faqs button {
  width: 100%;
  padding: 10px 13px;
  text-align: start;
  outline: none;
  border: 1px solid grey;
  color: rgba(89, 205, 153, 0.682);
  background-color: black;
}

.faqs .answer {
  height: 0;
  overflow-y: hidden;
}

.answer p {
  color: lightgray
}

.faqs button :hover,
.faqs button :focus {
  background-color: -webkit-linear-gradient(45deg, rgba(130, 175, 242, 0.642), rgba(237, 238, 242, 0.662));

}


.buy-earn-btn {
  display: flex;
  width: 400px;
  padding: 10px 10px;
  height: auto;
  justify-content: space-around;
  padding-bottom: 5px;
  margin-bottom: 5px;
}



.overlay {
  height: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  width: 0;
}

.overlay_ {
  height: 70%;
  background-color: black;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  width: 100%;
  padding: 5px 5px;
}

.whitep_ {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.whitep_container {
  display: block;
  padding: 7px 7px;

}

.whitep_container h1 {
  text-align: center;
}

.whitep_container p {
  line-height: 1.5;
}

.whitep_container ul {
  list-style: decimal;
}

.whitep_container li {
  color: white;
}



.overlay_ .content {
  display: block;

}

.overlay .content {
  display: block;
  position: relative;
}


.content .link {
  text-decoration: none;
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.content .link:hover,
.content .link:focus {
  border: 1px solid rgba(89, 205, 153, 0.682);

}

._container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px;
  background-color: black;
}

.bars {
  display: flex;
  justify-content: space-around;
  flex-shrink: 2;
  padding: 5px 5px;
  background-color: black;

}

.bars .link {
  padding: 7px 5px;
  width: 70px;
  color: grey;
  text-decoration: none;
  margin-left: 2px;
  transition: 0.9s;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(89, 205, 153, 0.682);
}

.bars .link:hover,
.link:focus {

  transition: 0.9s;
  border-radius: 5px;
  border: 1px solid rgba(89, 205, 153, 0.682);
  background-color: rgba(89, 205, 153, 0.682);
  color: white;
}




#purchase-modal {
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: black;
  display: flex;
  transition: 0.5s;

}

.modal-reciept-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.receipt {
  height: 200px;
  width: 40px;
  display: block;
  border: 1px solid white;
  margin-top: 20px;
  display: absolute;
  top: 25%;
  right: 10;
}


.buying-modal {
  display: block;
  margin-top: 60px;
}

.buying-modal b,
input {
  color: lightgray;
  display: block;
  padding: 10px 10px;
  display: block;
  margin-top: 0px;
  width: 300px;
  outline: inherit;
  border: none;

}



.wallet-connect {
  height: 130px;
  width: 300px;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 20%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 10px;

}

.wallet-connect_ {
  height: auto;
  width: 300px;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 10%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid white;
  padding: 10px 10px;

}

.wallet-connect p {

  font-size: 12px;
}

.wallet-connect h2,
h1 {
  color: lightgrey;
}

.token-details,
h1,
h2,
p {
  color: lightgrey;
}






#headlineText h1 {
  font-size: 23px;
  color: black;
}




.services {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  position: relative;
  padding: 5px 10px;

}




.service {
  height: auto;
  position: relative;
  margin-top: 10px;
  border: 1px solid white;
  width: 400px;

  display: block;
  text-align: center;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  padding: 5px 10px;
}

.services :hover,
.services:focus {
  border-right: 1px solid rgba(89, 205, 153, 0.682);
  transition: 0.5s;
  border-radius: 1px;

}

.service p {
  color: grey;
  line-height: 1.5;
}

.serviceHeader {
  display: flex;
  justify-content: space-around;
  font-family: Helvetica;
  margin-top: 12px;
  text-decoration: underline;
}






#how-to-buy {
  position: relative;
  /* margin-top: -20px; */
  background-color: black;
}

#referral {
  position: relative;
  margin-top: 30px;
  background-color: black;
}

#referral h1 {
  color: lightgrey;
}

.referral-page {
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 5px 5px;

}



.ref-image {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.ref-image img {
  height: auto;
  width: 300px;
}

.link-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* height: 0; */
  background-color: black;
  margin-top: 50px;
}

.link-input input {
  background-color: black;

}

.link-input .icon {
  color: rgba(89, 205, 153, 0.682);
  position: relative;
  margin-top: 64px;
}

.Ask_card .card_box_ b {
  display: block;
  padding: 5px;
  border: 2px dotted lightgray;

}




.bars_ {
  display: none;
  background-color: black;
}




.unity-container {
  height: 360px;
  background-color: black;
  display: block;
  color: white;
  box-sizing: border-box;
  padding: 10px 10px;
}

.unity-container h1 {
  text-align: center;
  text-decoration: underline;
}

.partners {
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container {
  background-color: black;
}

.footer-container p {
  color: rgba(89, 205, 153, 0.682);
}

.footer-details {
  display: flex;
  justify-content: space-between;
  height: 170px;
  background-color: black;
  padding: 10px 10px;

}

.footer-details ul {
  list-style-type: none;
  padding: 10px 10px;
  /* background: -webkit-linear-gradient(45deg, rgba(130, 175, 242, 0.642), rgba(237, 238, 242, 0.662)); */
}

.footer-details li {

  position: relative;
  margin-top: 5px;
  background: transparent;
  cursor: pointer;
  color: rgba(89, 205, 153, 0.682);
}

li .link {
  text-decoration: none;
  color: rgba(89, 205, 153, 0.682);

}

#count-down #h1 {
  font-size: 50px;

  margin-top: -4px;
  background-clip: text;
  text-align: center;
}


@media screen and (max-width:280px) {
  .ref-image img {
    width: 100%;
  }

  .wallet-connect {
    width: 180px;
  }

  .buying-modal b,
  input {
    width: 100%;
  }
}

@media screen and (max-width:650px) {

  /* .wallet-connect {
      width:200px;
  } */

  .buy-earn-btn {
    width: auto;

  }

  .faqs-container {
    flex-direction: column;
    margin-bottom: 2px;
  }

  .faqs {
    width: auto;
    /* height: 200px; */
  }

  .faqs-container img {
    width: auto;
    height: 200px;
    margin-top: 100px;
  }

  .referral-page {
    flex-direction: column-reverse;

  }

  .referral-page .ref-image {
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .link-input {
    margin-left: 15px;
  }

  .link-input input {
    width: 300px;
    margin-top: -20px;
    height: 50px;
    /* margin-top: -40px; */
  }

  .link-input .icon {
    margin-top: 5px;
  }

  .ref-image img {
    height: 200px;
  }

  .faqs {
    width: auto;
  }

  #count-down #h1 {
    font-size: 24px;

  }

  .wallet-connect {
    top: 65%;
    width: 200px;
  }

  .roadmap {
    flex-direction: column;
    justify-content: space-around;
  }

  .roadmap .map {
    width: auto;
  }

  .footer-details {
    padding: 0px;

  }

  #headlineText {
    margin-bottom: 10px;
  }

  .unity-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .unity-container h2 {
    text-align: left;
  }

  .partners {
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    margin-top: 20px;
  }

  .whitep_ {
    width: auto;
  }

  #purchase-modal {
    width: auto;
  }

  #count-down {
    width: auto;
    margin-top: 40px;
    position: relative;
    border: none;
    box-sizing: border-box;
  }

  #count-down h1 {
    font-size: 16px;
  }

  hr {
    display: none;
  }

  #headline {
    justify-content: center;
    align-items: center;
    width: auto;
    flex-direction: column;
    width: auto;
  }

  #headline .token-details {
    width: auto;
    height: 300px;
    padding-right: 5px;
    margin-right: 0px;

  }



  .serviceHeader {
    justify-content: space-around;
  }

  .bars_ {
    display: block;
  }



  ._container {
    display: none;
  }

  .Ask_card {
    flex-direction: column;
    justify-content: space-around;
  }

  .services {
    flex-direction: column;
    justify-content: space-around;

  }

  .service {
    border-radius: 5px;
    width: auto;
    padding: 0px 0px;
  }
}